/** @format */

.main {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.traffic {
	background-color: black;
	border-radius: 7px;
	display: flex;
	flex-direction: column;

	padding: 10px;
	gap: 10px;
}
.light {
	--size: 50px;
	background-color: gray;
	border-radius: var(--size);
	height: var(--size);
	width: var(--size);
}
