/** @format */

body {
	background-image: url(Assets/Back.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	display: flex;
	justify-content: center;
	min-height: 140vh;
	align-items: center;
}
.clock {
	color: white;
	font-size: 6rem;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.78);
}
.clock-container {
	backdrop-filter: blur(10px);
	width: 100vw;
	padding: 10px 0;
}
