/** @format */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #222;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	position: relative;
	width: 600px;
	min-height: 350px;
	background: #fff;
	margin: 100px auto 0;
}

.bloc-tabs {
	display: flex;
}
.tab {
	padding: 20px;
	font-size: 25px;
	text-align: center;
	flex-grow: 1;
	background: rgb(223, 223, 223);
	cursor: pointer;
	border: none;
	border-bottom: 1px solid rgb(153, 153, 153);
	border-top: 5px solid transparent;
	position: relative;
	outline: none;
	font-family: Montserrat;
}

.tab:not(:last-child) {
	border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tab {
	background-color: white;
	border-bottom: 1px solid transparent;
}
.active-tab::before {
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% + 2px);
	height: 5px;
	background: rgb(88, 147, 241);
}
button {
	border: none;
}
.content-table {
	flex-grow: 1;
}
.content {
	background: white;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
}
.content h2 {
	padding: 0px 0 5px 0px;
}
.content p {
	width: 100%;
	height: 100%;
}
.active-content {
	display: block;
}
